config.yaml
*.swp
*.swo

reaction_files

rails/.bundle
rails/log/*.log
rails/tmp


nodejs/node_modules
nodejs/dist
nodejs/*.tmp
nodejs/.sass-cache
nodejs/app/bower_components
nodejs/app/views/*.html
nodejs/app/scripts/*.js
nodejs/app/scripts/*/*.js
nodejs/app/upload
nodejs/test/spec/*/*.js
