main
config.yml
*.swp
*.swo

reaction_files

rails/.bundle
rails/config/database.yml
rails/log/*.log
rails/tmp
rails/db/schema.rb


nodejs/node_modules
nodejs/dist
nodejs/*.tmp
nodejs/.sass-cache
nodejs/app/bower_components
nodejs/app/views/*.html
nodejs/app/scripts/*.js
nodejs/app/scripts/*/*.js
nodejs/app/upload
nodejs/app/styles/*.css
nodejs/test/spec/*/*.js
nodejs/www/*.js
nodejs/www/*.css
nodejs/www/views
