.navbar.text-center ng-class="{true: '', undefined: 'navbar-fixed-bottom'}[inModal]"
  pagination.pagination.md total-items="totalItems" ng-model="searcher.pager" boundary-links="true" first-text="{{'first' | translate}}{{'page' | translate}}" last-text="{{'last' | translate}}{{'page' | translate}}" items-per-page="perPage" previous-text="{{'backward' | translate}}" next-text="{{'forward' | translate}}" rotate="false" num-pages="numPages" max-size="5" ng-change='setPage()'
