$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 55px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

table .btn {
  float: left;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1170px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

[notify-flash] {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: auto;
}
ol.tree {
  list-style: none;
}

.pointer {
  cursor: pointer;
}
.modal-content {
  padding: 5px;
  td.hole:hover {
    background-color: #EEE;
  }
}
td.hole {
  min-width: 2em;
}
td .row {
  margin: 0;
}
input[required] {
  background-color: #a883ee;
}
/* selectable */
.ui-selectable {
  .ui-selecting {
    background-color: #A7DEEE;
  }
  .ui-selected {
    background-color: #DEF8F0;
  }
}
table.board.table-bordered {
  td {
    padding: 5px;
  }
}
/* selectable */

table.new-order {
  span.vector:hover, span.primer:hover {
    cursor: pointer;
    color: green;
  }
}

/*the css below is for fix the input and btn is in front of the datepicker  in the /views/order.slim */
form#orderForm {
  .input-group .form-control{
    z-index: 1;
  }
  .btn-group > .btn.active, .btn-group > .btn {
    z-index: 1;
  }
}

/* for status is ok*/
.ok {
  background-color: #a7f667;
}

/* for btn-group button*/
button.btn.active {
  color: black;
}

table .reaction {
  border-radius: 3px;
  background-color: #e3e3e3;
  margin: 3px;
}

/* for navbar-bottom */
.navbar {
  min-height: 0;
  ul {
    margin: 0;
  }
}

/* for upload progress in boards table */
td .progress {
  margin: 0;
}

.form-search {
  padding: 4px;
}
